---
import "../styles/global.css";
import LeftSection from "../components/LeftSection.astro";
import ChatSection from "../components/ChatSection.astro";
import RulesModal from "../components/RulesModal.astro";
import GameLogic from "../components/GameLogic.astro";
---
<head> <meta charset="UTF-8" /> 

<div class="relative isolate bg-white dark:bg-gray-900">
  <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
    <LeftSection />
    <ChatSection />
  </div>
</div>

<RulesModal />
<GameLogic />
 </head>

<style>
@keyframes shake {
  0%,100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}
.animate-shake { animation: shake 0.4s ease; }
</style>
